@import url('https://fonts.googleapis.com/css2? família=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
    /* position: fixed;  */
}


#login{
    width: 10%;
    border-radius: 0.4rem;
    background-color: #4285f4;
    border: none;
}
#login:hover{
    background-color: #4373F6;
}

#login a{
    color: white;
} 

.logo{
    width: 8rem;
}

button:hover{
    cursor: pointer;
    background-color: #4373F6;
}

/*MAIN*/

.principal{
    display: flex;
    justify-content: space-around;
    background-image: url("../assets/background-page.png");
    background-repeat: no-repeat;
    background-size: cover;

}


.information{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.buying-section, .selling-section{
    border-radius: 0.35rem;
    background-color: rgba(180, 179, 179, 0.5);
    padding: 10px;
    width: 45%;
    color: white;
    font-size: large;
    
}

p{
    text-align: justify;
}

#main-images{
    display: flex;
    justify-content: space-around;
}
h1{
    color: white;
    text-align: center;
}
#civitas{
    width: 18rem;
    height: 18rem;
    margin: 40px;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150rem;
    font-size: large;
}

input{
    font-size: 1rem;
    border-radius: 0.35rem;
    padding: 10px;
    border:none;
    margin: 10px;
    
}
#inputDT{

    width: 90%;
}
input:focus{
    box-shadow: 0px 0px 5px #4285f4;
    border: 1px solid #4285f4;
    outline: none;
}

button{
    font-size: large;
    border:none;
    border-radius: 0.35rem;
    padding: 10px;
    color: white;
    background-color: #4285f4;
    width: 100%;
    margin-top: 10px;
    
}

.register h1{
    background-color: whitesmoke;
    color: #4285f4;
    border-radius: 0.35rem;
    padding: 10px;
    text-align: center;
}

form{
    padding: 20px;    
    background-color: whitesmoke; 
    border-radius: 0.35rem;    
}

input, label{
    display: block;
    flex-direction: column;
}
.screens{
    padding: 20px;
    display: block;
    justify-content: space-around;
    background-color: whitesmoke;

}
.screens h1{
    color: #4285f4;
}
.screens-1, .screens-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    
}
.screens-2 h1{
    font-weight: bold;
    font-size: xx-large;
    width: 40%;
}
.screens-1 h1{
    font-weight: bold;
    font-size: xx-large;
    width: 80%;
}
.add{
    width: 55%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.screens-1 img, .screens-2 img{    
    border-radius: 2.2rem;
}

.phrase h1{
    padding: 40px;
    color: black;
    font-size: xx-large;
}
.download-button{
    width: 40%;
}

footer{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.download{
    width: 30%;
}
#logo-footer{
    width: 10%;
}
